html {
	height: 100%;
	width: 100%;
}

body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

.io {
	padding: 5px;
	border: 1px solid #ccc;
	margin: 10px;
}

.controls {
	display: flex;
	flex-direction: row;
	border: 1px solid #ccc;
	margin: 10px;
}

.controls>* {
	flex: 1;

}

#control {
	margin: 20px 0;
}

input[type=text] {
	border: none;
}